<footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<a href="http://norcalpremier.com/club/19722/" target="_blank"><img src="img/norcal.png" class="img-tumbnail" alt="Norcal Image" width="200" height="100" ></a>
				</div>
				<div class="col-sm-3">
					<a href="http://usclubsoccer.org/" target="_blank"><img src="img/usclub.jpg" class="img-tumbnail" alt="Us Club Soccer Image" width="200" height="100" ></a>
				</div>
				<div class="col-sm-3">
					<a href="https://home.gotsoccer.com/rankings/club.aspx?ClubID=19722" target="_blank"><img src="img/gotsoccer.png" class="img-tumbnail" alt="GotSoccerLogo" width="200" height="100" ></a>
				</div>
				<div class="col-sm-3">
					<a href="http://www.mysoccerleague.com/ViewLeague.jsp?YSLkey=XGSVRGRCKVGGGGGGGGGQSCVHRK&leagueId=1" target="_blank"><img src="img/accysl.png" class="img-tumbnail" alt="Accysl Logo" width="200" height="100"></a>
				</div>
			</div>
		</div>
		<br>
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="text-center">
						<a href="#" class="totop"><i class="fa fa-angle-up fa-3x"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p class="text-right"><a href="https://www.devbuiltlabs.com" target="_blank" style="color:#FFF;">Powered by &copy; DevBuilt Labs | All Rights Reserved</a></p>
				</div>
			</div>
		</div>
	</footer>
