<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-custom" >
		<% include ../partials/carousel.ejs %>
		 <% include ../partials/nav.ejs %>
		<br>
		<br>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
						<div class="section-heading text-left">
							<h2 class="h-bold text-center" style="color:#c83539;">our leadership</h2>
							<div class="divider-header"></div>
						</div>
					</div>
				</div>
			</div>
			<br>
			<div class="container" class="home-section color-dark bg-white">
				<div class="row">
					<div class="col-md-12">
						<P class="text-justify">
							The current leadership within our club is composed of individuals who are passionate about changing their communities. The following provides a brief introduction for two of the officers within our club. You will see these officers coaching, setting fields, attending meetings, speaking with youth and much more in order to contribute to their community. They come from different backgrounds but their excitement and passion for improving their community is shared and a basis for their commitment.
						</P>
						<br>
						<h6 class="text-left">Gilberg Rodriguez - Community Liaison </h6>
						<p class="text-justify">
							Mr. Rodriguez is a structural engineer who grew up in Montalvin Manor, an unincorporated community of Contra Costa County. He is a first generation college graduate with degrees from U.C. Berkeley (B.S. Civil Engineering) and U.T. Austin (M.S. Civil Engineering). After graduating in 2003 from U.T. Austin, he had many opportunities to develop his career in many places other than the Bay Area, but his passion for completing the work he began as a high school student (worked with youth soccer in Montalvin Manor and also led a youth effort to perform park improvements that to this day has allowed Montalvin Manor residents to play soccer on a level space) led him back to his old neighborhood. Since he moved back, he has been an active member of the Montalvin Manor community and beyond. When Mr. Rodriguez returned from college in 2004, he started coaching youth in Montalvin Manor. Eventually he worked with others to organize an Under-19 boys team out of Montalvin Manor and they joined the Richmond United Soccer Club (RUSC) in the Spring of 2007. At the end of the Spring, he was asked to join the board as president. At the time, there were six teams, of which one was a girls team. Since then, the club has grown to over thirty teams and approximately kids (of those 30+, ten are girls teams). The emphasis has been to grow the club with teams that work within the mission of the club, which is to develop the youth of Richmond and surrounding communities into responsible citizens through the sport of soccer. The club expects to continue growing because their mission has resonated with the community. Mr. Rodriguez has worked to grow the club while meeting the mission through continual education of coaches on the importance of discipline and on-field behavior. Moreover, he has emphasized the importance of education. They have done so by taking college trips to various campuses (i.e., U.C. Berkeley, U.C. Davis and St. Mary's College) where youth meet college students and alumni. Mr. Rodriguez is also working to implement a tutoring program that will help kids perform better in school. Mr. Rodriguez also serves as co-chair of the Richmond SAFE (Safe Fields For Education) Coalition, a group that is focusing on improving and developing multipurpose fields so that youth have sufficient access to better athletic facilities. Throughout all these various efforts, he has also taken the time to coach teams of various ages from Under-10 girls through Under-15 girls in the hopes of continuing to grow and provide more opportunities for girls to play soccer. He also helped coordinate an effort with the City of Richmond to develop a winter futsal program which, under his guidance, grew to about 70 teams and over 600 kids. His goal was to provide kids with an athletic activity during the winter so that they are involved in something positive when outdoor activites are limited due to weather. His long term vision is to see RUSC as a college pipeline where youth develop the values and skills necessary to succeed and become college graduates and future leaders for our community. Through the results so far and through the tireless hours spent by RUSC volunteers, Mr. Rodriguez strongly believes this vision will become a reality.
						</p>
						<br>
						<h6 class="text-left">Bruce Greenlee - Director</h6>
						<p class="text-justify">
							Mr. Greenlee has resided in Richmond's North and East neighborhood for 30 years. He was a Peace Corps volunteer in Lima Peru in the 1960's. On returning to the United States in 1969, he became a bilingual teacher in the Berkeley Unified School District. While in law school at the University of Wisconsin, he was a member of Legal Action of Wisconsin's migrant law project, representing seasonal farmworkers in northeastern Wisconsin. He later served the Oakland-Berkeley-Richmond Spanish speaking community as an attorney in private practice. He is currently the staff attorney for the California Judicial Council Advisory Committee on Civil Jury Instructions. While in South America, he became an avid soccer fan. His first involvement with youth soccer was in 1982 as a coach for the San Pablo Salesian Boys Club. He has been coach, referee, registrar and president of the El Cerrito Soccer Club, and has been registrar for the Richmond United Soccer Club for over eight years. His tireless effort was recognized in April 2013 by the City of Richmond at their Annual Volunteer Recognition and Awards Ceremony.
						</p>
						<br>
						<br>
					</div>
				</div>
			</div>
			<!-- Table for offiers-->
			<div class="container">
				<div class="col-md-12">
					<div class="panel panel-danger">
						<div class="panel-heading">
							<div class="panel-title text-center h-bold">OFFICERS</div>
						</div>
						<!--<div class="panel-body">
							<p class="text-center text-uppercase">GENRAL QUESTIONS: Please leave a message and we will get back to you within two busniess days.</p>
						</div>-->
						<div class="table-responsive">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th class="text-justify">NAME</th>
										<th class="text-justify">EMAIL</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="text-justify">Daisy Huizar - President</td>
										<td class="text-justify"><a href="mailto:dhuizar155@gmail.com">Email!</a></td>
									</tr>
									<tr>
										<td class="text-justify">Efrain Macias - Vice President</td>
										<td class="text-justify"><a href="mailto:macias1970@sbcglobal.net">Email!</a></td>
									</tr>
									<tr>
										<td class="text-justify">Olga Reyes - Registrar Assitant</td>
										<td class="text-justify"><a href="mailto:yannethfr@gmail.com">Email!</a></td>
									</tr>
									<tr>
										<td class="text-justify">Bruce Greenlee - Program Director/Registrar</td>
										<td class="text-justify"><a href="mailto:greenbox@comcast.net">Email!</a></td>
									</tr>
									<tr>
										<td class="text-justify">Silverio Ucan - Coaching Coordinator</td>
										<td class="text-justify"><a href="mailto:silver.u4@gmail.com">Email!</a></td>
									</tr>
									<tr>
										<td class="text-justify">Cesar Portillo - Referees</td>
										<td class="text-justify"><a href="mailto:neto.portillo@yahoo.com">Email!</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		<br>
		<% include ../partials/footer.ejs%>
</body>
</html>
