<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-custom" >
	<% include ../partials/carousel.ejs %>
	<% include ../partials/nav.ejs %>
	<br>
		<div class="container marginbot-50  text-center">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
						<div class="section-heading text-center">
							<h2 class="h-bold" style="color:#c83539;">Contact Us</h2>
							<div class="divider-header"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<div class="container">
			<div class="row marginbot-80">
				<div class="col-md-8 col-md-offset-2">
					<!--<div id="sendmessage">Your message has been sent. Thank you!</div>
					<div id="errormessage"></div>-->
					<form action="/contact" method="POST" role="form" id="contactForm" class="contactForm">
						<div class="form-group">
							<input type="text" class="form-control" id="userName" name="userName" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
							<div class="validation"></div>
						</div>
						<div class="form-group">
							<input type="email" class="form-control" name="yourEmail" id="yourEmail" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
							<div class="validation"></div>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" name="yourSubject" id="yourSubject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
							<div class="validation"></div>
						</div>
						<div class="form-group">
							<textarea class="form-control" id="body" name="body" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
							<div class="validation"></div>
						</div>

						<div class="text-center"><button type="submit" class="btn btn-danger btn-lg btn-block">Send Message</button></div>
					</form>
				</div>
			</div>
		</div>
	<% include ../partials/footer.ejs %>
</body>
</html>
