<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
	<% include ../partials/carousel.ejs %>
		 <% include ../partials/nav.ejs %>
		<br>
		<br>
		<div class="container" class="home-section color-dark bg-gray">
			<div class="row">
				<div class="col-md-12">
					<div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
						<div class="section-heading text-left">
							<h2 class="h-bold text-center" style="color:#c83539;">how to register</h2>
							<div class="divider-header"></div>
						</div>
					</div>
				</div>
			</div>
			<br>
			<br>
			<div class="containter">
				<div class="col-lg-10 col-lg-offset-1">
					<div class="panel panel-danger">
						<div class="panel-heading">
							<h2 class="panel-title text-center h-bold" style="color:#c83539;">INDIVIDUAL PLAYERS</h2>
						</div>
						<br>
						<p class="text-justify" style="padding-left:10px; padding-right:10px">
							<b>Micro-Soccer Program:</b> 3½ to 5 years of age 1 practice per week Fridays 5:30pm to 7:00pm <br>Games: TBD <br>Fee: $65 <br> <b>Location:</b> TBD Practices.
						</p>
						<p class="text-justify" style="padding-left:10px; padding-right:10px">Micro-Soccer Fees include uniform, field fees, and supplemental player insurance.</p>
					</div>
				</div>
				<br>
				<div class="col-lg-10 col-lg-offset-1">
					<div class="panel panel-danger">
						<div class="panel-heading">
							<h2 class="panel-title text-center h-bold" style="color:#c83539;">U-8 SOCCER PROGRAM</h2>
						</div>

						<p class="text-justify" style="padding-left:10px; padding-right:10px">
							 <br>Games on Saturdays <br>Location: Rumrill Turf Fields in San Pablo Practices/Games begin in March and run through early June.

						</p>
						<p class="text-justify" style="padding-left:10px; padding-right:10px"> <b>Submit Applications: February - March at:</b> <br> 2817 Nevin Ave. in Richmond Sunday - Thursday from 7pm to 8pm </p>
						<div class="container">
							<div class="col-md-5" "col-md-offset-1">
								<p class="text-center"><a href="files/U8BelowAplications.pdf" class="btn btn-primary"><i class="fa fa-download"></i> U8 & UNDER APPLICATION</a></p>
							</div>
							<div class="col-md-5" "col-md-offset-1">

								<p class="text-left"><a class="btn btn-primary" href="files/CYSA%20Application.pdf"><i class="fa fa-download"></i> U9 Rec & up Application</a></p>
							</div>
						</div>
					</div>
				</div>
				<br>
				<div class="col-lg-10 col-lg-offset-1">
					<div class="panel panel-danger">
						<div class="panel-heading ">
							<h2 class="panel-title h-bold text-center" style="color:#c83539;">U-9 AND UP SOCCER PROGRAM</h2>
						</div>
						<br>
						<p class="text-justify" style="padding-left:10px; padding-right:10px">For U-9 and up, registration is open on a team-by team basis. Please e-mail our registrar to find out is there is space for your son or daughter. Please provide gender, birthdate, and experience level.</p>

						<p class="text-justify" style="padding-left:10px; padding-right:10px"><b>FEES - NEW PLAYERS & RETURNING PLAYERS UNIFORM NOT INCLUDED:</b> <br> By July 16: Recreational - $65 | Competitive - $100 <br> By August 31: Recreational - $75 | Competitive - $110 <br> September 1 & Beyond: Recreational - $85 | Competitive - $120</p>

						<p class="text-justify" style="padding-left:10px; padding-right:10px"><b>FEES - TWO SEASON PRICING:</b>  <br> By July 16: Recreational - $120 | Competitive - $190 <br> By August 31: Recreational - $130 | Competitive - $200 <br> September 1 & Beyond: Recreational - $140 | Competitive - $210</p>

						<p class="text-justify" style="padding-left:10px; padding-right:10px"><b>Submit Applications: February - March at:</b> <br> 2817 Nevin Ave. in Richmond Sunday - Thursday from 7pm to 8pm.</p>

						<div class="container">
							<div class="row">
								<div class="col-lg-5" >
									<p class="text-center"><a class="btn btn-primary" href="files/norCalApp.pdf"><i class="fa fa-download"></i> U9 Comp Application</a></p>
								</div>


								<div class="col-lg-5" >
									<p class="text-left"><a class="btn btn-primary" href="http://richmondunited.calnorthlive.com/home.php" target="_blank"><i class="fa fa-download"></i>U9 & Rec Application</a></p>
								</div>

							</div>
						</div>
					</div>

				</div>
				<br>
				<div class="col-lg-10 col-lg-offset-1">
					<div class="panel panel-danger">
						<div class="panel-heading">
							<h2 class="panel-title h-bold text-center" style="color:#c83539;">NOR-CAL TEAMS</h2>
						</div>
						<br>
						<p class="text-justify" style="padding-left:10px; padding-right:10px"> <b>Competitive team deadline:</b> <br> U10 & U13 - Submit $350  deposit (this will be applied to player registrations) <br> U14 & Up  - Submit $350  deposit (this will be applied to player registrations)</p>
						<p class="text-justify" style="padding-left:10px; padding-right:10px">Recreational opportunities are still for new teams through the first week of March for U8. For U9 and up, <br>we need information by the third week of April. Please e-mail: <a href="mailto:richmondsoccerinfo@gmail.com" target="_top">Email</a></p>
					</div>
				</div>
				<br>
				<div class="col-lg-10 col-lg-offset-1">
					<div class="panel panel-danger">
						<div class="panel-heading">
							<h2 class="panel-title h-bold text-center" style="color:#c83539;">FREQUENTLY ASKED QUESTIONS</h2>
						</div>
						<br>
						<h6 class="text-center text-primary">RAINOUT INFORMATION</h6>
						<p class="text-center" style="padding-left:10px; padding-right:10px"><b>MAIN NUMBER:</b> <br>510-433-9995 <br>
							<br><b>CATALFO COMPLEX AND GILMAN FILEDS</b><br>510-981-5161 EXT 2</p>

						<p class="text-center">
							Call after 7:30 am morning of games.
						</p>
						<p class="text-center">
							Competitive teams playing on an away field, please contact the other team for information.
						</p>

						<hr>
						<p class="text-justify" style="padding-left:10px; padding-right:10px"> <b>Do Coaches Pay Registration Fees for their Children?</b> <br> As a small token of gratitude, coaches DO NOT pay registration fees and uniform cost. </p>

						<p class="text-justify" style="padding-left:10px; padding-right:10px"> <b>Are there discounts for siblings?</b> <br> Yes, each child receives $25 off towards registration fees.. </p>

						<p class="text-justify" style="padding-left:10px; padding-right:10px"> <b>Any other discounts?</b> <br>For parents and/or youth 12+ who sign up for the referee class and who become referees, a $30 discount is applied toward one registration fee. New referees will also receive a referee kit upon completion of the referee course. </p>

						<p class="text-justify" style="padding-left:10px; padding-right:10px"> <b>Are Payment Plans Available?</b> <br> Balance must be paid before the first game. </p>

						<p class="text-justify" style="padding-left:10px; padding-right:10px"> <b>Where do I obtain the uniform? </b>  <br> Check with your coach or contact Miguel at LATINO RECORDS SOCCER Y MAS 1183 23 St San Pablo CA - 510-235-0377.</p>

						<p class="text-justify" style="padding-left:10px; padding-right:10px"> <b>When are soccer balls provided?</b> <br> Soccer balls will be proivded to coaches once a year. Distribution is handled on a team by team basis, some teams keep all of their soccer balls together for practices and games and others distribute to each individual player. Please contact your coach if you have any questions. </p>
					</div>
					</div>
				</div>
			</div>

		<br>
		<br>
		<% include ../partials/footer.ejs %>
</body>
</html>
